.layout{
    h1{
        font-size: 2.5em;
        font-weight: bold;
        padding-bottom: 20px;
        text-align: center; 
    }
}

.content {
    h2{
        text-align: center;
    }
    
    text-align: left;
    font: bold;

    h3 {
        text-align: center;
        font-weight: bold; 
    }
    
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-position: inside;
        padding: 0;
    }

}

.subcontent {
    ol {
        align-items: left;
        padding: 5px;
        margin-left: 4px;
        list-style-position: inside;
        flex-direction: column;
        display: flex;
    }

    li {

        align-items: left;
        flex-direction: column;
        list-style-position: inside;
        padding: 4px;
    }

    border: 2px solid #333;
    color:black;
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

.listcontent {
   ul {
        align-items: left;
    }
}
