.layout {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.heading {
    font-size: 2.5em;
    font-weight: bold;
    padding-top: 80px;
    padding-bottom: 20px;
    text-align: center; 
}
.column {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.left {
    flex: 33%;
}

.middle {
    flex: 33%;
}
.right {
    flex: 33%;
}


.banner {
    width: 82%;
}

.linkColor {
    color: blue;
}

