/* DeviceRow.module.css */

.deviceRow {
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

.deviceRow:hover {
  background-color: #f2f2f2;
}

/* Define a common class for all buttons to maintain consistency */
.button {
  border: none;
  padding: 5px 10px;
  margin-right: 10px; /* Equal right margin for all buttons */
  cursor: pointer;
  color: white;
}

/* Extend the common button styles with specific colors for each button */
.editButton {
  background-color: #007bff;
}

.deleteButton {
  background-color: #dc3545; /* Red color */
  margin-right: 0; /* No margin on the right for the last button */
}

.viewButton {
  background-color: #62dc35; /* Green color */
}

  