.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This makes sure your form is centered in the viewport */
}

.login-form {
  width: 100%;
  max-width: 400px; /* Or the width that suits your design */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: for a light shadow effect */
  background-color: #040404; /* White background for the form */
}

.login-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.input-group {
  margin-bottom: 20px; /* Increased spacing between the input fields */
}

.input-group input {
  width: calc(100% - 40px);
  padding: 10px; /* Makes input fields a bit taller */
  border: 1px solid #ddd; /* Light border around the input fields */
  border-radius: 5px; /* Rounded borders */
  margin: 0 10px 20px 10px;
}

.login-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px; /* Consistent with the input fields */
  background-color: #5cb85c; /* A shade of green, or your choice */
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.login-button:hover {
  background-color: #4cae4c; /* Darken the button slightly on hover */
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; /* Space between links and button */
}

.links a {
  color: #333; /* Dark grey color for the links, or your choice */
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}
