.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 94%;
}

/*
.card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}
*/

.article-link {
  position: relative;
  bottom: 25px;
  left: 5%;
  text-align: left;
  font-size: 1.2em;
}

h2 {
  text-align: left;
  padding-left: 5%;
  padding-right: 5%; 
}

p {
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
}


a, a:link a:visited {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.description {
  border: 2px solid #333;
  color:black;
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}


