/* RaspBerryPiDeviceRegistration.module.css */

.registrationContainer {
    max-width: 600px;
    margin: 80px auto 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .registrationContainer form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .registrationContainer label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }
  
  .registrationContainer input[type="text"],
  .registrationContainer input[type="datetime-local"],
  .registrationContainer select {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .registrationContainer button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  
  .registrationContainer button:hover {
    background-color: #0056b3;
  }

.loadingText,
.registrationCompleteText {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 20px;
}

.loadingIcon {
  margin: 10px auto;
  display: block;
  animation: spin 1s linear infinite; /* Apply the spin animation only to loadingIcon */
}

.checkIcon {
  margin: 10px auto;
  display: block;
  color: green;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}