/* DevicesTable.module.css */

.devicesTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .devicesTable th,
  .devicesTable td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    
  }
  
  .devicesTable th {
    background-color: #f2f2f2;
    padding-bottom: 20px;
  }
  
  .buttonWrapper {
    display: flex;
    justify-content: flex-end; /* Aligns button to the right */
    padding-bottom: 20px; /* Adds padding at the bottom */
  }